*.suo
*.db
*.opendb

*.obj
*.idb
*.pdb
*.log
*.tlog
*.lastbuildstate

*.obj
*.pdb
*.log
*.tlog
*.lastbuildstate

*.exe
*.ilk
*.pdb

*.exe
*.iobj
*.ipdb
*.pdb

*.vspx

.vs/*
bin/*
x64/*
Debug/*
temp/*

U3DPluginForAndroid/ARM/*
U3DPluginForAndroid/libs/*
U3DPluginForAndroid/obj/*
U3DPluginForAndroid/x64/*

TestPlugin/.vs/*
TestPlugin/Library/*
TestPlugin/Temp/*

*.log__*
