*.suo
*.db
*.opendb

*.obj
*.idb
*.pdb
*.log
*.tlog
*.lastbuildstate

*.obj
*.pdb
*.log
*.tlog
*.lastbuildstate

*.exe
*.ilk
*.pdb

*.exe
*.iobj
*.ipdb
*.pdb

*.vspx

/U3DPluginForAndroid/obj/local/arm64-v8a/*
/U3DPluginForAndroid/obj/local/armeabi/*
/U3DPluginForAndroid/obj/local/armeabi-v7a/*
/U3DPluginForAndroid/x64/*